<div class="row">
  <div class="page-header">
    <h1>Storm Simulator  <small>Sand Storms are a Major Threat for future astronauts on Mars</small></h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag("SandStorm.jpg", class: "img-responsive") %>
  </div>
  <div class="row" style="padding-top:50px">
    <div class="col-md-12">
      <p class="text-center" style="padding-top:50px"><%= link_to "Send Storm", dashboard_sand_storm_path, class: "btn btn-danger btn-lg"%>         <%= link_to "End Storm", dashboard_end_storm_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
