<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-success">
      <div class="panel-heading">Alert</div>
      <div class="panel-body">

        <%= form_for([:dashboard, @user], url: {action: "update_alert"}, http: "PATCH") do |f| %>
        <div class="field form-group">
          <%= f.text_field :alert_title, class: "form-control", placeholder: "Title" %>
        </div>
        <div class="field form-group">
          <%= f.text_field :alert, class: "form-control", placeholder: "Description" %>
        </div>
        <div class="action form-group">
          <%= f.submit "Update Alert", class: "btn btn-primary" %>
        </div>
     </div>
      <% end %>
  </div>

</div>
</div>
</div>
